<div ng-show="courses.length">
  <h1 enter leave>Here are all of your courses:</h1>
  <ul>
    <li ng-repeat="item in courses">
      <a ui-sref="courses.students({ courseId: item.id })">{{ item.name }}</a>
    </li>
  </ul>
</div>

<div class="col-md-4">
    <!-- <welcome-text></welcome-text> -->

  <h3 welcome-text="" message="Liz">Add a new course</h3>
  <form ng-submit="CoursesFactory.addCourse()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="CoursesFactory.courseName" class="form-control" placeholder="Enter a course name" required autofocus>
    </div>
    <button type="submit" class="btn btn-default" enter="btn btn-primary"  leave="btn-primary">Submit</button>
  </form>
</div>

<h2 welcome-texts="" message="Kelly!">When does this disappear?</h2>

<div ng-controller="ChoreCtrl as choreCtrl">
    <kid
    done="choreCtrl.logChore(chore)">
    </kid>
</div>

<div ui-view> </div>
